@inherits LayoutComponentBase

<div class="main-layout">

    <nav class="navbar">
        <h2 class="logo">Merry's <span> Portfolio</span></h2>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="#education">Education</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </nav>

    <main>
        @Body
    </main>

</div>